<a href="https://colab.research.google.com/github/alphabah2018/wmnov2018/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
if (b == 0 or d == 0):
  print("Division par zéro interdite !")
else:
  print(a*c)
  print(b*d)

In [17]:
import random
x=random.random()
if x<0.5:
  tirage="pile"
else:
  tirage="face"
print(tirage)

face

In [0]:
for i in range(0,100):
  print("**")
for j in range(0,100):
  print("$$$")
print()

In [0]:
n=int(input("Saisir un entier au clavier"))
print("Voici la liste de diviseurs de n")
for i in range(1,n+1):
  if n%i==0:
    print(i)

In [0]:
L=[4,8,9,34,28]
print(L[4])
L[1]=17
L[3]=L[2]+L[4]
for i in range(0,12):
  print(L[len(L)-1])

In [0]:

L= [6,32,24,6,45]
l= len[L]
aux = L[0]
L[0] = L[l-1]
L[l-1] = aux
print(L)

In [0]:
for i in range(0,24):
  print(i,"Je dois recopier 24 fois cette phrase")

In [0]:
listes_fruits=["pomme","ananas","orange","pastèque"]
for fruits in listes_fruits:
  print(fruits)

In [0]:
listes_fruits=["pomme","ananas","orange","pastèque"]
for i, fruits in enumerate(listes_fruits):
  print(i+1,fruits)

In [0]:
def main():
    pass

if __name__ == '__main__':
    main()
# La fonction append()
liste_initale=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
liste_2=[] # liste vide pour stocker le resultat
for n in liste_initale:
    liste_2.append(n*2)
print(liste_2)

In [0]:
# Le code donne le même resultat, la boucle est stockée dans la variable liste_2
liste_initale=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
liste_2=[n*2 for n in liste_initale]
print(liste_2)

In [0]:

class Compte_banque:

    def __init__ (self,titulaire="Alpha",solde=10000):

        self.titulaire=titulaire
        self.solde=solde

    def Debuter(self,montant):
        self.solde=self.solde-montant

    def Credit(self,montant):
        self.solde=self.solde+montant

    def Afficher(self):
        print("Le solde de %s est de %.2f euros."%(self.titulaire,self.solde))


monCompte=Compte_banque("Mathieu",3000)

monCompte.Debuter(500)
monCompte.Credit(200)
monCompte.Afficher()

monCompte1 =Compte_banque()
monCompte1.Credit(30)
monCompte1.Afficher()